

<div class="login-page">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form">
      <%= devise_error_messages! %>

    <form class="login-form">
     <b><p class="message2"> <%= f.label :email %><br /></p></b>
    <%= f.email_field :email, autofocus: true %>
    
    
     <b><p class="message2">  <%= f.label :password %><br /></p> </b>
     
     <p class="message"> 
       <% if @minimum_password_length %>
        (<%= @minimum_password_length %> mínimo de caracateres)</em>
       <% end %><br />
    </p>
    <%= f.password_field :password, autocomplete: "off" %>
    
      <b><p class="message2">  <%= f.label :password_confirmation %><br /></p></b>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
   
       <%= f.submit "Cadastrar" %>
       
   
 <p class="message">Já é Cadastrado? <a href="/login">Entrar</a></p>
      
    </form>
  </div>
</div>

<% end %>

